
.form-invalid {
    color: #f50000;
    font-size: 12px;
    padding-left: 12px;
}

.input-invalid {
    border: 1px solid #f50000;
}


.count {
    margin-top: 10px;
    color: #828685;
    font-size: 13px;
}
.error {
    color: red;
}

div#main{
    position: relative;
}

div#fukidashi{
    color: #ffffff;
    position: absolute;
    display: none;
    background: #6699FF;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 120px;
    height: 50px;
}

div#fukidashi:before {
    content:" ";
    position: absolute;
    top: -24px;
    left: 8px;
    z-index:1;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #6699FF;
}