{{define "header"}}
<html lang="ja">
<head>
    <title>DeepTrack村</title>
    <meta charset="UTF-8">
    <!--BootStrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div id="main">
                <div id="target" onMouseover="openPopUp()" onMouseout="closePopUp()">
                    <a class="text-light">DeepTrack村</a>
                    <div>
                        <div id="fukidashi" onMouseover="openPopUp()" onMouseout="closePopUp()">
                            <p>©SS事業部</p>　
                        </div>
                    </div>
                    <div>
    </nav>
</head>
<body>
{{end}}